@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-slider .bp5-intent-primary {
  background: rgb(60, 89, 194); /* Change the background color */
}

.highcharts-tracker {
  cursor: pointer;
}

.bp5-menu {
  max-height: 300px;
  overflow-y: auto;
}

.gene-tag {
  margin: 5px;
  font-size: 14px;
  background-color: rgb(60, 89, 193);
}